@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

// Main styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #888;
  width: 225px;
  display: block;
  margin: auto;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.icon {
  color: rgb(0, 116, 0);
  transition: color 0.2s ease;

  &.logout {
    color: #333;
  }

  &.logout:hover {
    color: #bbb;
  }

  &:hover {
    color: #71dac5;
  }
}

// Utilities
.grabbing {
  cursor: grabbing;
}

.header-font {
  font-family: "Kanit", sans-serif;
}

// Containers
#outer-container {
  width: 100vw;
  min-height: 100vh;

  h2 {
    text-align: center;
  }
}

#user-control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  overflow: hidden;
  height: 70px;

  p {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}

#recipe-grid {
  margin: 0 auto;
  max-width: calc(100vw + 100px);
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.1s linear;

  .recipe-card {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #eee;
    font-size: 20px;
  }

  .outer-rc-container {
    position: relative;
    width: calc(100vw + 114px);
  }

  .multi-recipes {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 35px;
    color: #ddd;
    background: #333;
    height: 50px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all 0.3s ease;
  }

  .multiList-select {
    background: #71dac5;
    color: #333;
  }

  .delete-recipe {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    color: #fff;
    background: #da3657;
    height: 50px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  div:last-of-type {
    margin-bottom: 0;
  }
}

.hide-recipe-grid {
  background: rgba(0, 0, 0, 0.5);
}

.ingredient-list-display {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 750px;
  background: #fff;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;

  li {
    list-style: none;
    padding-bottom: 5px;
  }

  li:last-of-type {
    padding-bottom: 0;
  }
}

#add-new-recipe-form {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  background: #fff;
  width: 90%;
  max-width: 750px;
  padding: 5px;
  border: 2px solid #777;
  border-radius: 30px;
  max-height: 90vh;
  overflow: auto;
  padding-bottom: 20px;

  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    margin-bottom: 10px;
    width: 225px;
  }

  button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 225px;
    display: block;
    margin: auto;
  }

  button:first-of-type {
    margin-bottom: 10px;
  }

  button:last-of-type {
    background: #777;
    color: #fff;
    font-weight: bold;
  }
}

#ingredient-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 90%;
  padding: 5px;
}

.close-ingredient-list {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

#footer {
  margin: auto;
  margin-top: -20px;
  text-align: center;
  color: #777;
  font-size: 14px;
  width: 200px;
}

// Login/Signup screen
#login-signup-screen {
  div {
    padding: 10px;

    h2 {
      text-align: center;
    }

    button:first-child {
      font-weight: 700;
    }

    button {
      margin-bottom: 10px;
    }
  }

  #footer {
    margin: auto;
    margin-top: calc(100vh - 193px);
    text-align: center;
    color: #777;
    font-size: 14px;
    width: 200px;
  }
}

.google-signup {
  background: rgb(38, 128, 158);
  color: #fff;
}
