// Main styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

// Utilities
.grabbing {
  cursor: grabbing;
}

#outer-container {
  width: 100vw;
  height: 100vh;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}

#user-control-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  margin: auto;
  overflow: hidden;

  h2 {
    margin-top: 8px;
  }

  p:first-child {
    width: 60px;
    display: flex;
    justify-content: space-between;
  }

  p:last-child {
    width: 60px;
    display: flex;
    justify-content: center;
  }
}

#recipe-grid {
  margin: 0 auto;
  max-width: calc(100vw + 100px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .recipe-card {
    max-width: calc(100vw + 100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
  }

  .outer-rc-container {
    position: relative;
    width: calc(100vw + 100px);
  }

  .multi-recipes {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
    color: #fff;
    background: #333;
    height: 50px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .multiList-select {
    background: #ddd;
    color: #333;
  }

  .delete-recipe {
    position: absolute;
    top: 0;
    right: 5px;
    color: #fff;
    background: red;
    height: 50px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:last-of-type {
    margin-bottom: 0;
  }
}

.hide-recipe-grid {
  background: rgba(0, 0, 0, 0.5);
}

.ingredient-list-display {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 90%;
  background: #fff;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;

  li {
    list-style: none;
    padding-bottom: 5px;
    font-weight: bold;
  }

  li:last-of-type {
    padding-bottom: 0;
  }
}

#add-new-recipe-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 90%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  height: 90vh;
  overflow: scroll;

  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    margin-bottom: 10px;
    width: 225px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 225px;
  }

  button:first-of-type {
    margin-bottom: 10px;
  }

  button:last-of-type {
    background: #777;
    color: #fff;
    font-weight: bold;
  }
}

#ingredient-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 90%;
  padding: 5px;
}

.close-ingredient-list {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
